.char {
    font-size: 25px;
    letter-spacing: 2px;
}

.correct {
    color: #ddca8d;
    font-family: "Questrial", sans-serif;
    transition: color 0.3s ease, font-family 0.3s ease;
}

.incorrect {
    font-family: "Questrial", sans-serif;
    color: red;
}

.neutral {
    font-family: "Questrial", sans-serif;
    color: #f5f5f5;
}

.cursor {
  position: relative;
  font-family: "Questrial", sans-serif;
  transition: all 0.5s ease-out;
}

.cursor::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 2px;
  background-color: #ddca8d;
  animation: blink 1.1s ease-in-out infinite;
}

@keyframes blink {
  0%   { opacity: 1; }
  30%   { opacity: 1; }
  50%  { opacity: 0; }
  80%   { opacity: 0; }
  100% { opacity: 1; }
}