.game-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  background-color: rgb(27, 27, 27);
  width: 800px;
  height: 600px;
}

.timer {
  color: white;
}

.textbox{
  width: 600px;
  height: 300px;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  white-space: pre-wrap;
}

.button-row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input input{
  width: 100%;
  font-size: 40px;
  font-family: 'Verdana', 'Geneva', sans-serif;
  padding: 10px 14px;
  box-sizing: border-box;
}

.new-game {
  width: 3cm;
  height: 1cm;
}