.game-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  background-color: #262b36;
  width: 800px;
  height: 600px;
}

.wpm {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #f5f5f5;
  padding-bottom: 15px;
}

.textbox{
  display: flex;
  width: 600px;
  height: 200px;
  align-items: flex-end;
  padding-bottom: 50px;
}

.text {
  font-size: 30px;
}

.input input{
  width: 100%;
  font-size: 40px;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px 14px;
  box-sizing: border-box;
}

.button-row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
}

button {
  display: flex;
  flex-direction: row;
  width: auto;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #ddca8d;
  background-color: #1e222b;
  border-radius: 5px;
  border: 2px solid #292f3b;
  padding: 3px;
  outline: none; 
  cursor: pointer;
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

select {
  display: flex;
  flex-direction: row;
  width: auto;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #ddca8d;
  background-color: #1e222b;
  border-radius: 5px;
  border: 2px solid #292f3b;
  padding: 3px;
  outline: none; 
  cursor: pointer;
  width: 20%;
  height: 100%;
}