.game-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  background-color: #262b36;
  width: 800px;
  height: 600px;
}

.wpm {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
  padding-bottom: 15px;
}

.textbox{
  display: flex;
  width: 600px;
  height: 200px;
  align-items: flex-end;
  padding-bottom: 50px;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  white-space: pre-wrap;
}

.input input{
  width: 100%;
  font-size: 40px;
  font-family: 'Verdana', 'Geneva', sans-serif;
  padding: 10px 14px;
  box-sizing: border-box;
}

.button-row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}

.new-game {
  width: 3cm;
  height: 1cm;
}