.game-box {
  display: flex;
  flex-direction: column;
  background-color: rgb(3, 3, 48);
  width: 800px;
  height: 600px;
}

.timer {
  color: white;
}

.text {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  width: 600px;
  height: 300px;
  padding-left: 100px;
  padding-top: 100px;
}

.typer {
  color: rgb(6, 206, 6);
}

.button-row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.new-game {
  width: 3cm;
  height: 1cm;
}